<div class="post">
	<img src= "<%= @post["image_url"] %>" alt='smug new yorkers at dinner table'/>
	<p><%= @post["body"] %></p>
	<p><%= @post["author_name"] %></p>
	<p><%= @post["created_at"] %></p>
	<% end %>
</div>
