<form action="/home/create" method="post" >
	<div> Image URL <input type="text" name="image_url"/> </div>
	<div> Body <textarea name="body" cols= 20 rows=5></textarea> </div>
	<div> Author Name <input type="text" name"author_name"/> </div>
	<button type="submit">Create Post</button>
</form>

